<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <!-- Favicon -->
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="css/assets/font-awesome.min.css"> 
        <link rel="stylesheet" href="css/assets/bootstrap.min.css" >
        <link rel="stylesheet" href="css/assets/flaticon.css">
        <link rel="stylesheet" href="css/assets/magnific-popup.css">
        <link rel="stylesheet" href="css/assets/meanmenu.css">
        <!-- owl carousel -->
        <link rel="stylesheet" href="css/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="css/assets/owl.theme.default.min.css">
        <!-- jquery ui css -->
        <link rel="stylesheet" href="css/assets/jquery-ui.css">
        <!-- Main Css -->
        <link rel="stylesheet" href="css/assets/stl.css">	
        <link rel="stylesheet" href="css/assets/rs.css">	
        <link rel="stylesheet" href="css/assets/ms.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/assets/inner-pages.css">
        <link rel="stylesheet" href="css/assets/inner-pages-responsive.css">
    </head>
    <body class="home-hostio" id="home-hostio">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <header class="banner-area dark-overlay">
        <!--banner nav-->
        <div class="nav-header">
            <!-- header-top -->
            <div class="header-top">
                <div class="container">
                    <div class="top-flex">
                        <div class="top-area-left">
                            <div class="left-header-top">
                                <ul>
                                    <li class="nav-item dropdown_area">
                                        <span>English<i class="fa fa-angle-down language_icon"></i></span>
                                        <div class="dropdown_menu">
                                        <a class="dropdown_item" href="#">French</a>
                                        <a class="dropdown_item" href="#">German</a>
                                        <a class="dropdown_item" href="#">Spanish</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-area-right text-right">
                            <div class="right-header-top">
                                <ul class="">
                                    <li><a href="#" class="d-flex"><span><i class="fa fa-envelope-o"></i></span><p>support@hostio.com</p></a></li>
                                    <li class="active"><a href="#" class="d-flex"><span><i class="fa fa-user"></i></span><p>Register now</p></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- nav-menu -->
            <div class="eco_nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light bg-faded">
                        <a class="navbar-brand navbar-logo" href="index_demo.html"><img src="images/logo_g.png" alt=""></a>
                        <div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav nav ml-auto">
                                <li class="nav-item p-nav"><a href="index_demo.html" class="nav-link active nav-menu">Home<i class="fa fa-angle-down"></i></a>
                                    <ul class="nav_mega">
                                       <li>
                                            <div class="mega_menu_container">
                                                
                                                <div class="row pb-20">
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="mega_menu_box">
                                                            <a href="">
                                                                <img src="images/demo/1.jpg" alt="thumbnail" class="img-fluid" />
                                                            </a>
                                                            <h4 class="mega_menu_heading"><a href="" class="">Home 1</a></h4>
                                                        </div>
                                                    </div>                                                
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="mega_menu_box">
                                                            <a href="">
                                                                <img src="images/demo/1.jpg" alt="thumbnail" class="img-fluid" />
                                                            </a>
                                                            <h4 class="mega_menu_heading"><a href="" class="">Home 1</a></h4>
                                                        </div>
                                                    </div>
    
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="mega_menu_box">
                                                            <a href="">
                                                                <img src="images/demo/1.jpg" alt="thumbnail" class="img-fluid" />
                                                            </a>
                                                            <h4 class="mega_menu_heading"><a href="" class="">Home 2</a></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="mega_menu_box">
                                                            <a href="">
                                                                <img src="images/demo/1.jpg" alt="thumbnail" class="img-fluid" />
                                                            </a>
                                                            <h4 class="mega_menu_heading"><a href="" class="">Home 3</a></h4>
                                                        </div>
                                                    </div>                                                
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="mega_menu_box">
                                                            <a href="">
                                                                <img src="images/demo/1.jpg" alt="thumbnail" class="img-fluid" />
                                                            </a>
                                                            <h4 class="mega_menu_heading"><a href="" class="">Home 4</a></h4>
                                                        </div>
                                                    </div>
    
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="mega_menu_box">
                                                            <a href="">
                                                                <img src="images/demo/1.jpg" alt="thumbnail" class="img-fluid" />
                                                            </a>
                                                            <h4 class="mega_menu_heading"><a href="" class="">Home 5</a></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </li>
                                    </ul>                           
                                </li>                                                                    
                                <li class="nav-item single_nav"><a href="about.html" class="nav-link nav-menu">About</a>    
                                </li>
                                <li class="nav-item p-nav"><a href="contact.html" class="nav-link nav-menu">Contact</a></li>
                            </ul>
                        </div>    
                    </nav><!-- END NAVBAR -->
                </div> 
            </div> 
        </div>
    </header>
    <!-- End Header -->

    <!-- breadcrumb begin -->
    <div class="breadcrumb-hostio">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="breadcrumb-content">
                        <h2>About US</h2>
                        <ul>
                            <li>
                                <a href="#">Home<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>About US</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- about begin -->
    <div class="about_top_wrapper about-page" id="about-section">
        <div class="container">            
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="title">
                        <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">About Us</h2>
                        <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <a href="#" title="" class="view-more-btn g-btn">Learn More</a>
                     </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="video_wrapper">
                        <div class="video_banner">
                            <img src="images/about_banner_1.jpg" alt="" class=" img_a1 img-fluid">
                        </div>
                        <div class="video_play">
                            <div class="video-play-btn  wow zoomIn" data-wow-duration="2s" data-wow-delay=".1s">
                                <a href="https://www.youtube.com/watch?v=YJ5q8Wrkbdw" class="video-iframe"><i class="fa fa-play"></i></a>
                            </div>
                        </div> 
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about end -->

    <!-- start price section -->
    <div class="price-hv3-section about-page dark-overlay pb-100 pt-100">
        <div class="container">
            
            <div class="row">
                <div class="col-xl-12 col-lg-12 text-center">
                    <div class="section-content">
                        <h2 class="text-white">We Are Committed To Delivering Incredible Service</h2>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End price section -->
    
    <!-- star Feedback section -->
    <div class="Feedback-section feedback_3 about_page">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>		
                <div class="col-md-8">	
                    <div class="bestsite-head  text-center pt-120 pb-40">
                        <div class="section-title">
                            <h2>Our best user feedback</h2>
                        </div>
                        <div class="section-content">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature</p>
                        </div>
                    </div>
                </div>	
                <div class="col-md-2"></div>	
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-9">
                    <!-- start testimonial slider  -->
                    <div class="slider">
                        <div class="testimonial-slider vh3-vh4 owl-carousel owl-theme" id="testimonial_slider_1">
                            <!-- start item -->		
                            <div class="item">									
                                <div class="testimonial-area text-center">
                                    <div class="iteminner">
                                        <figure>
                                            <div class="item-img">
                                                <img src="images/testimonial-one.png" alt="" class="img-responsive rounded-circle">
                                            </div>
                                            <div class="slide-head">
                                                <p>Kiling Moynur <span> USA</span></p>
                                            </div>
                                        </figure>								
                                        <div class="slide-content">
                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give and expound the actual teachings of the great explorer of the truth, the master builder of human happiness.</p>
                                        </div>								
                                    </div>
                                </div>				
                            </div><!-- end item -->

                            <!-- start item -->		
                            <div class="item">									
                                <div class="testimonial-area text-center">
                                    <div class="iteminner">
                                        <figure>
                                            <div class="item-img">
                                                <img src="images/testimonial-two.png" alt="" class="img-responsive rounded-circle">
                                            </div>
                                            <div class="slide-head">
                                                <p>Kiling Moynur <span> USA</span></p>
                                            </div>
                                        </figure>								
                                        <div class="slide-content">
                                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give and expound the actual teachings of the great explorer of the truth, the master builder of human happiness.</p>
                                        </div>								
                                    </div>
                                </div>				
                            </div><!-- end item -->
                        </div>		
                    </div><!-- end testimonial slider  -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Feedback section -->

    <!-- star Blog section -->
    <div class="blog-section blog-section_3 pb-100">
        <div class="container">
            <div class="row">	
            <div class="col-md-8">	
                <div class="bestsite-head pt-80 pb-60">
                    <div class="section-title">
                        <h2>Our Latest Blog</h2>
                    </div>
                    <div class="section-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>	
            <div class="col-md-4"></div>	
            </div>
    
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="blog-area">
                        <div class="blog-img">
                            <a href="" title=""><img src="images/hv2-bussness.jpg" alt=""></a>
                        </div>
                        <div class="Blog-content-inner">
                        <div class="blog-title">
                            <h3>A Business case story</h3>
                        </div>
                        <div class="blog-date">
                            <p>10 Oct 2018</p>
                        </div>
                        </div>
                        <div class="blog-btn"><a href="#" class="g-btn">Read Now</a></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="blog-area">
                        <div class="blog-img">
                            <a href="" title=""><img src="images/hv2-bussness-two.jpg" alt=""></a>
                        </div>
                        <div class="Blog-content-inner">
                        <div class="blog-title">
                            <h3>Host domain case study</h3>
                        </div>
                        <div class="blog-date">
                            <p>10 Oct 2018</p>
                        </div>
                        </div>
                        <div class="blog-btn"><a href="#" class="g-btn">Read Now</a></div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="blog-area">
                        <div class="blog-img">
                            <a href="" title=""><img src="images/hv2-bussness-three.jpg" alt=""></a>
                        </div>
                        <div class="Blog-content-inner">
                        <div class="blog-title">
                            <h3>Learner online group</h3>
                        </div>
                        <div class="blog-date">
                            <p>07 Oct 2018</p>
                        </div>
                        </div>
                        <div class="blog-btn"><a href="#" class="g-btn">Read Now</a></div>
                    </div>
                </div>
            </div>
            <div class="Feedback-logo pt-100">
                <ul>
                    <li class="logo-bottom"><a href="#"><img src="images/logo_one.png" alt=""></a></li>
                    <li class="logo-bottom"><a href="#"><img src="images/logo_two.png" alt=""></a></li>
                    <li class="logo-bottom"><a href="#"><img src="images/logo_three.png" alt=""></a></li>
                    <li class="logo-bottom"><a href="#"><img src="images/logo_four.png" alt=""></a></li>
                    <li class="logo-bottom"><a href="#"><img src="images/logo_one.png" alt=""></a></li>	
                </ul>
            </div>
        </div>
    </div>
    <!-- End Blog section -->

    <!-- star Footer -->
    <footer class="pt-120">
        <div class="container">
            <div class="footer-top pb-70">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-title">
                        <img src="images/logo.png" alt="" class="f_logo">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h3>Important Links</h3>
                        <ul>
                            <li><a href="#">Wordpress Hosting</a></li>
                            <li><a href="#">VPS Hosting</a></li>
                            <li><a href="#">Cloud Server</a></li>
                            <li><a href="#">Didecated Server</a></li>
                            <li><a href="">Domain Transfer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="company-content">
                        <h3>Important Pages</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="newspaper-site">
                    <h3>Our Newsletters</h3>
                    <input type="email" name="email" placeholder="Email Address">
                    <div class="btn-send">
                        <a href="#">send</a>
                    </div>
                    <ul class="icon-bottom">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul>
                            <li><a href="">Terms and Condition</a></li>                  
                            <li><a href="">Privecy Policy</a></li>                  
                            <li><a href="">Refund Policy</a></li>                  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <!--============= { Ccroll Top} ===========-->
    <section id="scroll-top" class="scroll-top">
        <h2 class="disabled">&nbsp;</h2>
        <div class="to-top pos-rtive">
            <a href="#"><i class = "flaticon-up-arrow"></i></a>
        </div>
    </section>
    
    <!-- JavaScript Files -->
    <script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>    
    <script src="js/jquery.meanmenu.min.js"></script> 	
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/ui-slider-activate.js"></script>
	<script src="js/main.js"></script>
</body>
</html>

