<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock title %}
	<!-- Favicon -->

	<!-- Google Fonts -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/assets/font-awesome.min.css">
<!--	<link rel="stylesheet" href="css/assets/bootstrap.min.css" >-->

	<!-- Main Css -->
	<link rel="stylesheet" href="css/assets/stl.css">

</head>
<body class="home-hostio" id="home-hostio">
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<header class="banner-area dark-overlay">
	<!--banner nav-->
	<div class="nav-header">
		<!-- header-top -->
		<div class="header-top">
			<div class="container">
				<div class="top-flex">
					<div class="top-area-left">
						<div class="left-header-top">
							<ul>
								<li class="nav-item dropdown_area">
		    		                <span>默认主题<i class="fa fa-angle-down language_icon"></i></span>
					    		    <div class="dropdown_menu">
					    		      <a class="dropdown_item" href="#">精简主题</a>
					    		      <a class="dropdown_item" href="#">热门推荐</a>
					    		      <a class="dropdown_item" href="#">默认主题</a>
					    		    </div>
			    		  		</li>
							</ul>
						</div>
					</div>
					<div class="top-area-right text-right">
						<div class="right-header-top">
							<ul class="">
								<li><a href="#" class="d-flex"><span><i class="fa fa-envelope-o"></i></span><p>邮箱：support@hostio.com</p></a></li>
<!--								<li class="active"><a href="#" class="d-flex"><span><i class="fa fa-user"></i></span><p>Register now</p></a></li>-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- nav-menu -->

	</div>
	{% block header_main %}
	{% endblock header_main %}
</header>
<!-- End Header -->
	{% block body_main %}
	{% endblock body_main %}


<!-- star Footer -->
<footer class="pt-200">
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="#">**</a></p>
				</div>

			</div>
		</div>
	</div>
</footer><!-- End Footer -->

    <!--============= { Ccroll Top} ===========-->
    <section id="scroll-top" class="scroll-top">
        <h2 class="disabled">&nbsp;</h2>
        <div class="to-top pos-rtive">
            <a href="#"><i class = "flaticon-up-arrow">Top</i></a>
        </div>
    </section>

    <!-- JavaScript Files -->
	<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.meanmenu.min.js"></script>
	<script src="js/main.js"></script>

	{% block JavaScriptFile %}
	{% endblock JavaScriptFile %}
</body>
</html>

