<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <!-- Favicon -->
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="css/assets/font-awesome.min.css"> 
        <link rel="stylesheet" href="css/assets/bootstrap.min.css" >
        <link rel="stylesheet" href="css/assets/flaticon.css">
        <link rel="stylesheet" href="css/assets/magnific-popup.css">
        <link rel="stylesheet" href="css/assets/meanmenu.css">
        <!-- owl carousel -->
        <link rel="stylesheet" href="css/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="css/assets/owl.theme.default.min.css">
        <!-- jquery ui css -->
        <link rel="stylesheet" href="css/assets/jquery-ui.css">
        <!-- Main Css -->
        <link rel="stylesheet" href="css/assets/stl.css">	
        <link rel="stylesheet" href="css/assets/rs.css">	
        <link rel="stylesheet" href="css/assets/ms.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/assets/inner-pages.css">
        <link rel="stylesheet" href="css/assets/inner-pages-responsive.css">
    </head>
    <body class="home-hostio" id="home-hostio">
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <header class="banner-area dark-overlay">
        <!--banner nav-->
        <div class="nav-header">
            <!-- header-top -->
            <div class="header-top">
                <div class="container">
                    <div class="top-flex">
                        <div class="top-area-left">
                            <div class="left-header-top">
                                <ul>
                                    <li class="nav-item dropdown_area">
                                        <span>English<i class="fa fa-angle-down language_icon"></i></span>
                                        <div class="dropdown_menu">
                                        <a class="dropdown_item" href="#">French</a>
                                        <a class="dropdown_item" href="#">German</a>
                                        <a class="dropdown_item" href="#">Spanish</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-area-right text-right">
                            <div class="right-header-top">
                                <ul class="">
                                    <li><a href="#" class="d-flex"><span><i class="fa fa-envelope-o"></i></span><p>support@hostio.com</p></a></li>
                                    <li class="active"><a href="#" class="d-flex"><span><i class="fa fa-user"></i></span><p>Register now</p></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- nav-menu -->
            <div class="eco_nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light bg-faded">
                        <a class="navbar-brand navbar-logo" href="index_demo.html"><img src="images/logo_g.png" alt=""></a>
                        <div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav nav ml-auto">
                                <li class="nav-item p-nav"><a href="index_demo.html" class="nav-link active nav-menu">Home<i class="fa fa-angle-down"></i></a>
                                    <ul class="nav_mega">
                                       <li>
                                            <div class="mega_menu_container">
                                                
                                                <div class="row pb-20">
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="mega_menu_box">
                                                            <a href="">
                                                                <img src="images/demo/1.jpg" alt="thumbnail" class="img-fluid" />
                                                            </a>
                                                            <h4 class="mega_menu_heading"><a href="" class="">Home 1</a></h4>
                                                        </div>
                                                    </div>                                                
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="mega_menu_box">
                                                            <a href="">
                                                                <img src="images/demo/1.jpg" alt="thumbnail" class="img-fluid" />
                                                            </a>
                                                            <h4 class="mega_menu_heading"><a href="" class="">Home 1</a></h4>
                                                        </div>
                                                    </div>
    
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="mega_menu_box">
                                                            <a href="">
                                                                <img src="images/demo/1.jpg" alt="thumbnail" class="img-fluid" />
                                                            </a>
                                                            <h4 class="mega_menu_heading"><a href="" class="">Home 2</a></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="mega_menu_box">
                                                            <a href="">
                                                                <img src="images/demo/1.jpg" alt="thumbnail" class="img-fluid" />
                                                            </a>
                                                            <h4 class="mega_menu_heading"><a href="" class="">Home 3</a></h4>
                                                        </div>
                                                    </div>                                                
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="mega_menu_box">
                                                            <a href="">
                                                                <img src="images/demo/1.jpg" alt="thumbnail" class="img-fluid" />
                                                            </a>
                                                            <h4 class="mega_menu_heading"><a href="" class="">Home 4</a></h4>
                                                        </div>
                                                    </div>
    
                                                    <div class="col-md-6 col-lg-4">
                                                        <div class="mega_menu_box">
                                                            <a href="">
                                                                <img src="images/demo/1.jpg" alt="thumbnail" class="img-fluid" />
                                                            </a>
                                                            <h4 class="mega_menu_heading"><a href="" class="">Home 5</a></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </li>
                                    </ul>                           
                                </li>                                                                    
                                <li class="nav-item single_nav"><a href="about.html" class="nav-link nav-menu">About</a>    
                                </li>
                                <li class="nav-item p-nav"><a href="contact.html" class="nav-link nav-menu">Contact</a></li>
                            </ul>
                        </div>    
                    </nav><!-- END NAVBAR -->
                </div> 
            </div>  
        </div>
    </header>
    <!-- End Header -->

    <!-- breadcrumb begin -->
    <div class="breadcrumb-hostio">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="breadcrumb-content">
                        <h2>Contact</h2>
                        <ul>
                            <li>
                                <a href="#">Home<i class="fa fa-angle-right"></i></a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- contact begin -->
    <div class="contact">
        <div class="container">
            <div class="row justify-content-center">	
                <div class="col-md-8 col-lg-6 col-xl-6">	
                    <div class="bestsite-head text-center mb-60">
                        <div class="section-title">
                            <h2>Contact With Us</h2>
                        </div>
                        <div class="section-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>		
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <form>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <input type="text" placeholder="Set your full name">
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <input type="email" placeholder="Set your mail address">
                                    </div>
                                </div>
                                <textarea placeholder="Write what you want to say..."></textarea>
                                <button type="submit">Send it</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- contact end -->

    <!-- star Footer -->
    <footer class="pt-120">
        <div class="container">
            <div class="footer-top pb-70">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-title">
                        <img src="images/logo.png" alt="" class="f_logo">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="footer-link">
                        <h3>Important Links</h3>
                        <ul>
                            <li><a href="#">Wordpress Hosting</a></li>
                            <li><a href="#">VPS Hosting</a></li>
                            <li><a href="#">Cloud Server</a></li>
                            <li><a href="#">Didecated Server</a></li>
                            <li><a href="">Domain Transfer</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2">
                    <div class="company-content">
                        <h3>Important Pages</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="newspaper-site">
                    <h3>Our Newsletters</h3>
                    <input type="email" name="email" placeholder="Email Address">
                    <div class="btn-send">
                        <a href="#">send</a>
                    </div>
                    <ul class="icon-bottom">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul>
                            <li><a href="">Terms and Condition</a></li>                  
                            <li><a href="">Privecy Policy</a></li>                  
                            <li><a href="">Refund Policy</a></li>                  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <!--============= { Ccroll Top} ===========-->
    <section id="scroll-top" class="scroll-top">
        <h2 class="disabled">&nbsp;</h2>
        <div class="to-top pos-rtive">
            <a href="#"><i class = "flaticon-up-arrow"></i></a>
        </div>
    </section>
    
    <!-- JavaScript Files -->
    <script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>    
    <script src="js/jquery.meanmenu.min.js"></script> 	
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/ui-slider-activate.js"></script>
	<script src="js/main.js"></script>
</body>
</html>

