{% extends 'base.html' %}
{% block title %}
    <title>搜书网</title>
    <meta name="keywords" content="小说下载,下载,全网小说,热门小说"/>
    <meta name="description" content="小说下载"/>
{% endblock title %}

{% block header_main %}
	<!--banner area-->
	<div class="banner-body">
		<div class="container">
			<div class="col-md-12">
				<div class="banner-content text-center">
					<h2>Search Your Story!</h2>
					<p>输入想要下载的小说名称：</p>
				</div>
			</div>
		</div>
	</div>
	<!--banner search-->
	<div class="banner-search-area pb-150">
		<div class="container">
			<div class="col-md-12">
				<div class="search-banner pr-30 pl-30 pb-70">
					<input class="form-control search-inner" type="text" id="novel_name", placeholder="Search Story">
					<div class="search-option"><i class="fa fa-angle-down "></i>
					  	<select name="search-option" id="search-option">
						    <option value="all">全网</option>
						    <option value="baidu">百度</option>
						    <option value="bing">必应</option>
						    <option value="so">so</option>
					  	</select>
				 	</div>
					 <div class="search-submit">
						<input type="submit" value="Search" onclick="getSearchResultOnclick()">
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock header_main %}

{% block body_main %}
	<div class="about_top_wrapper" id="about-section" style="display: none">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-xl-flex d-lg-flex d-block align-items-center">
                <div class="title" id="search-title">
				</div>
            </div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 d-xl-flex d-lg-flex" id="result-item">
			  <div class="card" id="card-item">

			  </div>
			</div>

        </div>
    </div>
</div>

{% endblock body_main %}

{% block JavaScriptFile %}
	<script src="https://cdn.bootcdn.net/ajax/libs/cheerio/0.15.0/lib/cheerio.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.1.0/axios.js"></script>
	<script src="js/func.js"></script>
{% endblock JavaScriptFile %}